body {
  background-color: black;
  font-family: Arial;
  color: white;
}

h1 {
  color: gray;
  font-family: Verdana;
}

.maindiv {
  background-color: white;
  color: black;
  padding: 20px;
  width: 300px;
  border-radius: 25px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
